*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #0f0e17;
    --text-color_orange: #ff8b07;
    --text-color-pink: #e93172;
    --text-color-white: #e6e6e6;

}

.box {
    background-color: yellowgreen;
    border-radius: 10px;
    width: calc(100% / 3);
}

.container {
    max-width: 1200px;
    margin: auto;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

.debug {
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contenitorino {
    width: calc(100% / 2);
}

.pink-text{
    color: var(--text-color-pink);
}
.orange-text {
    color: var(--text-color);
}

div>p {
    color: var(--text-color-white);
}

div>h3 {
    text-align: center;
    font-size: 1.3em;
    color: var(--text-color_orange);
}

.clearfix:after {
    content: "";
    display: table;
    clear:both;
}

.pull-left {
    float: left;
}

.box-02 {
    background-color: aqua;
    width: 50px;
    height: 50px;
    float: left;
    margin: 10px;
}